<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Image Board</title>
    </head>
    <body>
        <header>
            
        </header>
        <main id="main">
            <h1>Image Board</h1> 
            <h2>Add an Image Now</h2>
            <form @submit.prevent.default="handleSubmit">
                <input type="text" name="title" placeholder="title" v-model="title">
                <input type="text" name="description" placeholder="description" v-model="description">
                <input type="text" name="username" placeholder="username" v-model="username">
                <input type="file" name="file" accept="image/*" @change="handleFileChange">
                <button>Submit</button>

            </form>
            <h2>Latest Images</h2>
            <div class="images_container">                
                <figure v-for="image in images">
                    <img :src="image.url" :alt="image.description" v-on:click="onImageClick(image)">
                    <figcaption>{{image.title}}</figcaption>
                </figure>
                <button v-bind:class="btnMoreImages" v-on:click="onLoadMoreButtonClick">Load More Images</button>
            </div>
            

            

            <image-modal 
            v-on:close="onModalClose"
            v-on:pre="onModalPre"
            v-on:next="onModalNext"
            v-if="clickedImageId" 
            v-bind:image_id="clickedImageId"
            v-bind:first_id="firstID">
            </image-modal>

        </main>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"

        ></script>
    </body>
</html>
