<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Components</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main id="main">
        <h1>Vue Components</h1>

        <div class="users">
            <article v-for="user in users">
                <p>{{ user.name }}</p>
                <img :src="user.profile_picture" v-on:click="onImageClick(user)" />
            </article>
        </div> 
        

        <user-detail 
            v-on:close="onDetailClose"
            v-if="currentUser"
            v-bind:student="currentUser"></user-detail>


    </main>    
    <script src="/js/vue-components.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>



